body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.queue-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.queue-item {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 5px;
}

.btn-container {
  background-color: #333;
  color: #fff;
  padding: 10px 5px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 500px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: baseline;
}

button {
  padding: 10px 20px;
  margin: 0 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f2f2f2;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #90c992;
  border: 1.5px solid #ffffff;
}

input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;
  color: #4caf50;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 50%;
}
